In [1]:
import pandas as pd

df = pd.read_csv("../../data/Fundamental_Downside_Data.csv")
df.head()

,Name,Price/Earnings,Industry Avg. (P/E),Implied Downside (P/E),Price/Sales,Industry Avg. (P/S),Implied Downside (P/S),EV/EBITDA,Industry Avg. (EV/EBITDA),Implied Downside (EV/EBITDA)
0,Adani Green Energy,815x,24x,-97.10%,60.6x,1.1x,-98.13%,101x,12x,-88.33%
1,Adani Power,29x,24x,-18.17%,3.9x,1.1x,-70.66%,13x,12x,-10.42%
2,Adani Total Gas,831x,20x,-97.64%,139.3x,1.1x,-99.31%,303x,9x,-97.16%
3,Adani Transmission,312x,24x,-92.43%,27.3x,1.1x,-95.84%,69x,12x,-83.01%
4,Adani Enterprises,508x,12x,-97.68%,5.7x,0.5x,-91.33%,66x,8x,-88.16%